@import './css/Nav.css';
@import './css/Button.css';
@import './css/Image.css';

/*
color pallet

#008BA4 -green
#F0EA58 -yellow
#FABFF3 -pink
#A93E8B -mauve

*/

body {
  background-color: #e7ecf5;
  /* background-color: #FABFF3; */
  /* color: #c277e5; */
  color: black;
  font-family: cream DEMO, sans-serif;
}

a:link { 
  text-decoration: none; 
}

a:visited { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: none;
  cursor: pointer; 
}

a:active { 
  text-decoration: none; 
}

.home-component {
  /* background: url('./assets/zBGimg.jpg') no-repeat center center fixed; */
  background: url('./assets/zBGimg2.png') no-repeat center center fixed;
  background-size: cover;
  padding-top: 10px;
  height: 100vh;
  overflow: hidden;
}

.home-text {
  background-color: #008BA4;
  margin: 35px;
  
}

.copyright-text {
  color: thistle;
  font-size: smaller;
  text-align: center;
}

p span {
  padding: 2px;
  color: whitesmoke;
  /* background-color: white; */
}
#p-pink {
  color: #cf85f1;
}
#p-white {
  color: thistle;
}
#word-emph {
  background-color: thistle;
  color: #e057bc;
  font-size: 20px;
  text-shadow: 2px 2px rgb(253, 181, 235);
}

h1 {
  font-family: cream Demo, sans-serif;
  color:violet;
  text-shadow: 2px 2px #008BA4;
  text-align: center;
  padding:20px 0 10px 0;
}
h1 span {
  background-color: whitesmoke;
}

h6 {
  font-family: cream Demo, sans-serif;
  color: #95ccd6;
  text-decoration: overline;
}

h4 {
  text-align: center;
  padding: 10px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #E6F4F1;
 }

 #padding-create {
   margin-left: 20%;
 }

 #bg-pink {
   border-radius: 10px;
   background-color: #FABFF3;
 }

 #bg-yellow {
   border-radius: 10px;
   background-color: #F0EA58;
 }

 #bg-mauve {
   background-color: #de95f5;
 }

 #bg-green {
   padding: 10px;
   border-radius: 25px;
   background-color: #008BA4;
 }

 .c-text {
   margin: 5px;
   color: white;
   padding: 10px;
   background-color: #008BA4;
 }

 .z-text {
    margin: 5px;
    color: white;
    padding: 10px;
    background-color: #A93E8B;
 }

 .note-text {
   text-align: center;
   color: #008BA4;
   font-size: medium;
 }