body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
@font-face {
  font-family: 'Lets Play';
  src: local('Lets Play'), url(./assets/LetsPlay.ttf) format('truetype');
} */

@font-face {
  font-family: 'cream DEMO';
  src: local('cream DEMO'), url(./assets/cream.ttf) format('truetype');
}

